<div class="col-xs-6">
    <div ng-show="login_error" class="alert alert-danger alert-dismissable">
        Wrong username or password. Please try again!
    </div>
    <form class="form-inline" id="login-form">
        <div>
            <input type="text" class="form-control" ng-model="username" placeholder="username">
        </div>
        <div>
            <input type="password" class="form-control" ng-model="password" placeholder="password">
        </div>
        <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
    </form>
</div>
