<ng-include src="'/templates/password_dialog.html'">
</ng-include>
<div class="row">

    <div class="col-xs-2"></div>
    <div class="col-xs-6">
      <h1>Profile for {{getGreeter()}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-6" ng-show="edit_mode">
      <form id="profile-form">
          <div class="form-group">
            <label for="current-user-firstname">First Name:</label>
            <input id="current-user-firstname" type="text" class="form-control" ng-model="current_user_service.user.firstName">
          </div>
          <div class="form-group">
            <label for="current-user-lastname">Last Name:</label>
            <input id="current-user-lastname" type="text" class="form-control" ng-model="current_user_service.user.lastName">
          </div>
          <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
          <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </form>
    </div>
    <div class="col-xs-6" ng-show="!edit_mode">
      <label>First Name:</label>
      <div>{{current_user_service.user.firstName}}</div>
      <label>Last Name:</label>
      <div>{{current_user_service.user.lastName}}</div>
      <button type="button" class="btn btn-primary" ng-click="edit()">Edit</button>
      <button type="button" class="btn btn-primary" ng-click="showChangePasswordDialog()">Change Password</button>
    </div>
</div>
